.spaceBtwn {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-family: "Noto Sans", sans-serif !important;
  font-weight: 400;
}

.brandContainer {
  background-color: #57c5b6;
  padding: 20px 0 15px 0;
  margin-bottom: 20px;
}

.brandText {
  text-align: center;
  font-size: 1.5rem;
  color: #fefefe;
  font-family: "Satisfy", cursive;
}

.chatHistoryContainer {
  position: relative;
}

.historyTitle {
  display:flex;
  justify-content: space-between;
  text-align: left;
  padding-left: 5%;
  font-size: 1.1rem;
  margin-bottom: 6px;
}

.newChatIcon{
  margin-right: 14px;
  cursor: pointer;
  padding: 6px;
  border-radius: 8px;
}

.newChatIcon:hover{
  background-color: #e6e7e6;
}

.chatHistoryInnerContainer {
  height: 70vh;
  width: 100%;
  overflow-y: scroll;
}

.historyCard {
  padding: 8px 6px 8px 10px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin: 3px;
  overflow: hidden;
  border-radius: 6px;
}

.historyCardSelected{
  padding: 8px 6px 8px 10px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin: 3px;
  overflow: hidden;
  border-radius: 6px;
  background-color: #57c5b62f;
  border-radius: 8px;
  cursor: pointer;
}

.historyCardSelected:hover{

}

.textContainer {
  display: flex;
  align-items:flex-start;
}

.historyText {

  max-width:210px;  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.historyTextInner{
  padding-left: 8px;
  font-weight: 300 !important;
}

.historyCard:hover {
  background-color: #e3f1ff;
  cursor: pointer;
}

.moreButton{
  display: flex;
  /* position: fixed; */
  justify-content: flex-end;
}

.logoutButton{
  margin-bottom: 4px;
  font-weight: 500;
}
